<!DOCTYPE html>
<body>
<h1>{{github-user}}'s Github Waiting Room</h1>
<ol>
{{#issues}}
    <li id="issue_{{position}}">
      <p class="name">
        <a id="{{name}}" href="#{{name}}">{{name}}</a>
        created by <a href="https://github.com/{{user}}">{{user}}</a>
        on {{created}}
      </p>
      <p class='title'>
        <a href="{{url}}">{{title}}</a>
        {{type}} with {{comments}} comments
      </p>
      <p class='desc'>{{desc}}</p>
    </li>
{{/issues}}
</ol>
</body>
</html>
