<!DOCTYPE html>
<body>
<h1>{{github-user}}'s Github Waiting Room</h1>
<ol>
{{#issues}}
    <li id="issue_{{position}}">
      <a href="{{url}}">{{name}}</a>
       created by <a href="https://github.com/{{user}}">{{user}}</a> on {{created}}
      <p>{{desc}}</p>
    </li>
{{/issues}}
</ol>
</body>
</html>
