<!DOCTYPE html>
<head>
<title>{{github-user}}'s Github Waiting Room</title>
<link href="/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>{{github-user}}'s Github Waiting Room</h1>
<h2>The issues below are either unanswered or open ones I need to
  address. If you'd like to have your issue addressed sooner, follow
  the contributing guidelines. Also, helping out with issues before
  yours wouldn't hurt.</h2>
<ol>
{{#issues}}
    <li id="issue_{{position}}">
      <span>{{position}}.</span>
      <p class="name">
        <a href="{{url}}">{{id}}</a>
        created by <a href="https://github.com/{{user}}">{{user}}</a>
        on {{created}} (<a id="{{id}}" href="#{{id}}">permalink</a>)
      </p>
      <p class='title'>
        <a href="{{url}}">{{title}}</a>
        {{type}} with {{comments}} comments
      </p>
      <p class='desc'>{{desc}}</p>
    </li>
{{/issues}}
</ol>
<footer>
<a href="https://github.com/cldwalker/gh-waiting-room">Source Code</a> |
Powered by
<a href="http://pedestal.io/">
<img src="pedestal-glyph.png" width="16" height="16"/>
Pedestal</a> and 
<a href="http://developer.github.com/">
<img src="octocat.png" width="20" height="20"/>
Github's API</a>
</footer>
</body>
</html>
