#issues ol {
  color: #ccc;
  list-style-type: none;
}
 
#issues ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#issues ol li:hover {
  background: #f6f6f6;
}
 
#issues li p {
  font: 15px/1.5 Helvetica, sans-serif;
  padding-left: 70px;
  color: #555;
  margin: 7px;
}

#issues p.name {
  font-size: 22px;
}
#issues p.title {
  font-size: 19px;
}
 
#issues span {
  position: absolute;
}

#source_code {
  margin-left: 3em;
}